<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>UP DEX Built on Loopring</title>
    <meta name="keywords" content="Loopring protocol, DEX, decentralized exchange,ERC20" />
    <meta name="description" content="交易 ERC20 代币的去中心化交易所 a decentralized ERC20 token exchange" />
    <link rel="icon" href="./static/favicon.ico">
    <!-- set `maximum-scale` for some compatibility issues -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no,minimal-ui=yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection"content="telephone=no, email=no" />
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
      if(!window.Promise) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
      }
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
