:global{
    @fontfamily: "RobotoCondensed","Helvetica Neue", Helvetica,sans-serif;
    @media screen and (max-width:640px) {
        html, body {
            font-family: @fontfamily !important;
            font-weight: 400;
        }
    }
    @media screen and (min-width:640px) {
        html, body {
            font-family: @fontfamily !important;
            font-weight: 400;
        }
    }
    
    .font-weight-bold{
      // font-weight: 400!important;
    }
    .ant-table-thead > tr > th{
      font-weight: 400 !important;
    }
}
