
// ========
// segment
// ========

.am-segment-item{
  // border:1px solid #000 !important;
  // color: #000 !important;
}
.am-segment-item-selected{
  // background: #000 !important;
  // color:#fff !important;
}

// ========
// button
// ========

.am-button-primary{
  // background: #000 !important;
}
.am-button-primary::before{
  // border-color: #000 !important;
}
.am-button-ghost{
  // color:#000 !important;
}
.am-button-ghost::before{
  // border-color:#000 !important;
}

// ========
// slider
// ========

.am-slider-handle{
  // border:2px solid #000 !important;
  // background: #000 !important;
}
.am-slider-track{
  // background-color:#000 !important;
}

// ========
// tabs
// ========

.am-tabs-default-bar-tab-active{
  // color:#000;
  // font-weight: bold;
}
.am-tabs-default-bar-underline{
  border:none !important;
  // border-bottom:1px solid #000 !important;
}
.no-underline{
  .am-tabs-default-bar-underline{
    display: none !important;
  }
}
.tabs-no-border{
  .am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
    display: none !important;
  }
  &.am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
    display: none !important;
  }
}
