@import 'variables.less';
.right-panel-modal{
  left:auto;
  .ant-modal{
    top:0px;
    position: absolute;
    right: 0;
    margin:0;
    .ant-modal-content{
      background: @primary-color;
      height:100vh;
      .ant-modal-body{
        height: 100%;
      }
    }
  }
}
.theme-blue{
  .ant-modal{
    .ant-modal-content{
      background:  @primary-color;
      .ant-modal-body{
        height: 100%;
      }
    }
  }
}

.panel-default-theme{
  background: @primary-color;
  height: 100%;
  width:30vw;
}
.no-border{
  .am-list-body::before {
    background: #fff !important;
  }
  .am-list-body::after{
    background: rgba(0,0,0,0.05) !important;
  }
  .am-button-primary::before{
    border:none !important;
  }
}

.am-list-item.am-input-item{
  height: 50px !important;
}
.ant-switch{
  // min-width:36px !important;
  // height:18px !important;
  // &:before, &:after{
  //   width:14px !important;
  //   height:14px !important;
  // }
}

.no-underline{
  .am-tabs-default-bar-underline{
    display: none !important;
  }
}
.tabs-no-border{
  .am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
    display: none !important;
  }
  &.am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
    display: none !important;
  }
}
.am-grid .am-carousel .am-carousel-wrap-dot-active > span{
  background: #000 !important;
}
.am-tabs-default-bar-tab-active{
  color:#000;
  // font-weight: bold;
}
.am-tabs-default-bar-underline{
  border:none !important;
  border-bottom:1px solid #000 !important;
}
.am-slider-handle{
  border:2px solid #000 !important;
  background: #000 !important;
}
.am-slider-track{
  background-color:#000 !important;
}
.h-50{
  .am-tabs-default-bar-tab{
    height: 50px;
    line-height: 50px;
  }
}

.am-list-header{
  padding:0px !important;
}

.am-list-bg-none{
  .am-list-body{
    background: transparent !important;
  }
}
.am-button{
  border-radius:4px !important;
}
.am-button::before{
  border-radius:8px !important;
  border-width:1px !important;
}


.am-button.border-none::before{
  border:none!important;
}

.am-button-primary{
  background: #000 !important;
}
.am-button-primary::before{
  border-color: #000 !important;
}
.am-button-ghost{
  color:#000 !important;
}
.am-button-ghost::before{
  border-color:#000 !important;
}

.place-order-form{
  .am-tabs-default-bar-tab.am-tabs-default-bar-tab-active{
    font-weight: bold;
  }
}
.am-grid.my-dex-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text{
  margin-top:0px !important;
}


.am-segment-item{
  border:1px solid #000 !important;
  color: #000 !important;
}

.am-segment-item-selected{
  background: #000 !important;
  color:#fff !important;
}
.am-notice-bar{
  &.s-lg{
    height: 44px;
    line-height: 36px;
    padding-top:4px;
    padding-bottom:4px;
}
  &.t-error{
    background: #fff1f0;
    color:#f5222d;
  }
  &.t-success{
    background: #f6ffed;
    color:#52c41a
  }
  &.t-warning{
    background:#fffbe6;
    color:#faad14
  }
  &.t-info{
    background:#e6f7ff;
    color:#1890ff
  }
}

.am-list-item .am-input-label.am-input-label-5{
  width: auto !important;
}
.am-list-item .am-list-line .am-list-extra{
  flex-basis:70% !important;
}
