@import 'variables.less';
.right-panel-modal{
  left:auto;
  .ant-modal{
    top:0px;
    position: absolute;
    right: 0;
    margin:0;
    .ant-modal-content{
      background: @primary-color;
      height:100vh;
      .ant-modal-body{
        height: 100%;
      }
    }
  }
}
.theme-blue{
  .ant-modal{
    .ant-modal-content{
      background:  @primary-color;
      .ant-modal-body{
        height: 100%;
      }
    }
  }
}

.panel-default-theme{
  background: @primary-color;
  height: 100%;
  width:30vw;
}
.no-border{
  .am-list-body::before {
    background: transparent !important;
  }
  .am-button-primary::before{
    border:none !important;
  }
}
.ant-switch{
  min-width:36px !important;
  height:18px !important;
  &:before, &:after{
    width:14px !important;
    height:14px !important;
  }

}
