// https://github.com/ant-design/ant-design-mobile/blob/master/components/style/themes/default.less
// https://github.com/ant-design/ant-design-mobile/wiki/%E8%AE%BE%E8%AE%A1%E5%8F%98%E9%87%8F%E8%A1%A8%E5%8F%8A%E5%91%BD%E5%90%8D%E8%A7%84%E8%8C%83
// 页面背景

@radius-xs: 50em;
@radius-sm: 50em;
@radius-md: 50em;
@radius-lg: 7 * @hd;

@radius-circle: 50%;
@button-height: 44 * @hd;

@color-link:@brand-primary;

