// @brand-primary: #eec80a;

@brand-primary: #C59949;
@brand-primary-light: fade(@brand-primary,10%);
@brand-primary-tap: fade(@brand-primary,95%);
@brand-error: #FF6858; // color-red-500
@brand-important: @brand-error; // hot dot
@brand-success: #007E51; // color-green-500

@fill-body: fade(#1c1629,90%);
@fill-body: lighten(#1c1629,4%);
@bg-white: lighten(#191126,2%);

@fill-body: #20203C;
@bg-white: lighten(#15152D,2%);

// @brand-primary: #C59949;
// @brand-primary-light: fade(@brand-primary,10%);
// @brand-primary-tap: fade(@brand-primary,95%);
// @brand-error: #FF6858; 
// @brand-important: @brand-error; 
// @brand-success: #007E51; 
// @fill-body: fade(#1c1629,90%);
// @fill-body: darken(#BB1E7B,20%);
// @fill-body: darken(#4A148C,14%);
// @bg-white: darken(#4A148C,18%);

